#
# obsidian-plugin-e2e-test | `.gitignore`
#

.clj-kondo/
.lsp/

node_modules/
package-lock.json

test/empty_vault/
!test/empty_vault/.gitkeep

.yarn/
.build/
test-results/
playwright-report/

/main.js
